.Footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url("../../assets/images/OIP.webp");
    background-position: center;
    padding: 0.2%;
    border-top: 1px solid #731b1b;
}
.Footer__Messengers, .Footer__Platforms{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Footer__Messengers_Img, .Footer__Platforms_Img{
    width: 40px;
    height: 30px;
}
.Footer__MainLogo{
    width: 400px;
}
@media screen and (max-width: 450px) {
    .Footer__Messengers_Img, .Footer__Platforms_Img{
        width: 15px;
        height: 15px;
    }
    .Footer__MainLogo{
        height: 50%;
        width: 200px;   
    }
    .Footer__Messengers, .Footer__Platforms{
        gap: 1px;
    }
}